<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="utility.ExtentReporterNG" />
	</listeners>

  <test thread-count="1" name="Test">
    <classes>
      <!-- <class name="basic.testcase.SampleLoggingGenerator"/> -->
      <class name="basic.testcase.createRepoTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
